<%- include("partials/header.ejs")%>
<body class="d-flex flex-column min-vh-100">
<%- include("partials/welcome.ejs")%>
<% blogs.forEach((blog) => { %>
<div class="container w-50 mt-4 mx-1">
    <div class="row g-0 border rounded overflow-hidden flex-md-row  shadow-sm h-md-250">
        <div class="col-9 container my-2 mx-2">
            <h3 class="mb-0"> <%= blog.title %> </h3>
            <div class="mb-1 text-body-secondary"> <%= blog.month %> <%= blog.day %> </div>
            <% var shortContent = blog.blogText %>
            <p class="card-text mb-auto"> <%= shortContent %> ...</p>
            <a href="viewBlog/<%= blog.title %>" class="icon-link gap-1 icon-link-hover">
                Continue reading
                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
        </div>
        <div class="col-2 container my-3">
            <div class="row">
                <form action="/update/<%=blogs.indexOf(blog)%>" method="GET">
                    <button type="submit" class="btn btn-outline-secondary mb-3">Update</button>
                </form>
            </div>
            <div class="row">
                <form action="/deleteitems/<%=blogs.indexOf(blog)%>" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-outline-dark">Delete</button>
                </form>            
            </div>
        </div>
    </div>
</div>
<%});%>
</body>
<%- include("partials/footer.ejs") %>
